.grid-container {
  display:grid;
  grid-template-areas: 
  'left left header header right right'
  'left left  main main right  right'
  'left left  footer footer right right ';
}
body{
  background-image:url("./Media/wormybackground.jpg");
  background-size: 100%
}

.header {
  grid-area:header;
  border:solid palevioletred;
  position:fixed;
  
  background-color: pink;

}
footer {
  grid-area:footer ;
}
/* main {
  
} */


/* //Tables */
table, tr, td {
  background: rgb(190, 115, 53);
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(68, 30, 7);
  font-family: inherit;
}