body{
  background-image:url("./Media/wormybackground.jpg");
  background-size: 100%
}

header {
  width: 76%;
  margin-right: 12%;
  margin-left: 12%;
  border: solid palevioletred;
  background-color: pink;
  text-align: center;
  margin-bottom: 1%;

}

.main-wrapper{
  width: 76%;
  margin-right: 12%;
  margin-left: 12%;
  border:solid palevioletred;
  background-color: pink;
  height:fit-content;
  text-align: center;
}
footer {
  width: 76%;
  margin-right: 12%;
  margin-left: 12%;
  margin-top:1% ;
  text-align: center;
  border: solid palevioletred;
  background-color: pink;
}

/* main {
  
} */


/* //Tables */
table, tr, td {
  background: rgb(190, 115, 53);
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(68, 30, 7);
  font-family: inherit;
}

